.Phonetic {
  height: 60px;
}

.Phonetic a {
  border: 1px solid #694e4e;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 12px;
  font-weight: bold;
  margin-right: 10px;
}

.Phonetic a:hover {
  background-color: #e4d3cf;
  color: #694e4e;
  transition: all 150ms ease-in-out;
}
.Phonetic .text {
  opacity: 0.7;
  font-weight: bold;
}
